<% if line_item.file %>
  <% if %w(application/pdf).include?(line_item.file.image_content_type) %>
    <%= link_to small_image(variant.product), variant.product %>
  <% else %>
    <%= image_tag line_item.file.image.url(:thumb) %>
  <% end %>
<% elsif variant.images.length == 0 %>
  <%= link_to small_image(variant.product), variant.product %>
<% else %>
  <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
<% end %>

<% if line_item.file %>
  <h5><%= link_to "Edit file", edit_line_item_file_path(line_item, line_item.file) %></h5>
<% else %>
  <h5><%= link_to "Update file", new_line_item_file_path(line_item) %></h5>
<% end %>